<div class="container">
    <div class="row">
        <table class="table" style="border: black; ">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">City</th>
                    <th scope="col">Job</th>
                    <th scope="col">Monthly Salery</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees"
                    [ngClass]="employee.monthlyPay > 3000 ? 'employee-blue' : 'employee-red'">
                    <th scope="row">
                        <img class="employee-image" [src]="employee.image" style="height: 200px; width: 150px; " />
                    </th>
                    <th>{{employee.id}}</th>
                    <td>{{employee.fullName}}</td>
                    <td>{{employee.age}}</td>
                    <td>{{employee.city}}</td>
                    <td>{{employee.occupation}}</td>
                    <td>{{employee.monthlyPay}}</td>
                    <td><button class="btn btn-danger btn-sm" (click)="goToEdit(employee.id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>